@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom properties for theming */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Ensure your header and burger-menu are fixed at the top */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50; /* Ensure it's above other content */
}

.burger-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 100; /* Ensure it's above other content */
}

nav {
  position: absolute;
  top: 100%; /* Position below the header */
  left: 0;
  width: 100%;
  background-color: #1f2937; /* Tailwind's bg-gray-800 */
  z-index: 49; /* Just below the header */
}


/* Apply base styles to the whole document */
body {
  color: var(--foreground-rgb);
  background: linear-gradient(to bottom, 
              rgb(var(--background-start-rgb)), 
              rgb(var(--background-end-rgb)));
  font-family: 'Inter', sans-serif; /* Adjust based on your preference */
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Utility classes for text balance and other custom styles */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .container {
    max-width: 1200px; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;
  }

  /* Responsive navbar styles */
  .navbar {
    @apply bg-cyan-950 text-white rounded-b-xl shadow-md;
  }

  .navbar a {
    @apply text-white hover:text-gray-300;
  }

  @media (max-width: 768px) {
    .navbar {
      @apply p-4; /* Adjust padding for smaller screens */
    }
    
    .navbar .menu {
      @apply hidden; /* Hide menu on small screens */
    }

    .navbar .menu.active {
      @apply block; /* Show menu when active */
    }
  }

  @media (min-width: 769px) {
    .navbar .menu {
      @apply flex; /* Display menu items in a row on larger screens */
    }
  }
}
