/* src/app/globals-mobile.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

.mobile-menu {
  width: 35%; /* Limit width to 35% */
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100%;
  background-color: white;
  padding: 20px;
  border: 2px solid red; /* Add a red border for testing */
  display: none; /* Initially hidden */
}

.mobile-menu.open {
  display: block; /* Show when open */
}
