/* src/app/globals.css */
/* Tailwind CSS Base, Components, and Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Desktop Styles */
@media (min-width: 769px) {
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }

  .navbar {
    @apply bg-cyan-950 text-white rounded-b-xl shadow-md;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .navbar a {
    @apply text-white hover:text-gray-300;
  }

  .menu-container {
    position: relative;
  }

  .submenu-container {
    display: none;
    position: absolute;
    background-color: gold;
    color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
    top: 100%;
    left: 0;
  }

  .menu-item:hover + .submenu-container,
  .submenu-container:hover {
    display: block;
  }

  .submenu-container a {
    color: black;
    text-align: left;
    padding: 5px 10px;
    display: block;
  }

  .submenu-container a:hover {
    background-color: yellowgreen;
  }

  .navbar-menu {
    display: none;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: darkgreen;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .navbar .menu {
    display: none;
  }

  .navbar .menu.active {
    display: block;
    position: fixed;
    top: 60px;
    left: 20px;
    width: 30%;
    background-color: darkgreen;
    padding: 10px;
    height: auto;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    z-index: 100;
  }

  .submenu-container {
    display: none;
    background-color: gold;
    padding-left: 5px;
    position: fixed;
    top: 60px;
    left: 20px;
    width: 30%;
    z-index: 100;
  }

  .submenu-container.show {
    display: block;
  }

  .submenu-container a {
    color: black;
    padding: 8px 12px;
    text-align: left;
    display: block;
  }

  .submenu-container a:hover {
    background-color: yellowgreen;
  }

  .navbar-menu {
    display: none;
  }

  .navbar-menu.active {
    display: block;
    background-color: darkgreen;
    position: fixed;
    top: 60px;
    left: 20px;
    width: 30%;
    z-index: 100;
    padding: 10px;
  }

  .navbar a,
  .menu-item {
    text-align: left;
    margin-bottom: 1rem;
    display: block;
  }
}







